   body { margin:0;font-family:Candara; }
        body a { text-decoration: none; };
        footer{font-size:20px;}
        .center {text-align: center;}
        .bar {height:20px;}
         #logo {margin-right:50px;}
        #content {padding-bottom:100px; }
       .icon {margin-top:300px;display: inline;margin-left: 80px;margin-right: 80px;}    
.wrapper {height:500px;    width: 70%;
    margin: 0 auto;}
 .blacktext {color:black;font-size:30px;}